// Labs64.IO brand color scheme, based on the "light" (default) just-the-docs scheme.
// Available variables: https://github.com/just-the-docs/just-the-docs/tree/main/_sass/support/_variables.scss

$labs64-main: #e14817;
$labs64-link: #7b2a10;

$link-color: $labs64-link;
$btn-primary-color: $labs64-main;
